.select {
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  bottom: none;
  background-color: black;
}

.ani {
  animation: fadeAnimation 5s linear infinite;
  animation-delay: 2s;

}
.open:hover{
  color: green;
  background-color: white;
  transition: 0.8s ease-in-out;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    color: red;

  }
}


.bg0 {
  background-image: url("https://images.unsplash.com/photo-1511406361295-0a1ff814c0ce?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-2 {
  width: 100%;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: black;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  transition: filter 0.3s ease-out;
}

.sti {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.le {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
  background: rgba(19, 19, 19, 0.6);
  backdrop-filter: blur(2px);
  inset: 0;
  z-index: 999;
}


.card-2 img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  transition: opacity 0.2s ease-out;
}

.card-2.card-2 h2 {
  position: absolute;
  inset: auto auto 30px 30px;
  margin: 0;
  transition: inset 0.3s 0.3s ease-out;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  text-transform: uppercase;

  z-index: 1;
  /* Ensure the text is above the blurred background */
}

.card-2.card-2 p,
.card-2.card-2 a {
  position: absolute;
  opacity: 0;
  max-width: 80%;
  transition: opacity 0.3s ease-out;
  z-index: 1;
  /* Ensure the text is above the blurred background */
}

.card-2 p {
  inset: auto auto 80px 30px;
}

.card-2 a {
  inset: auto auto 40px 30px;
  color: inherit;
  text-decoration: none;
}

.card-2:hover h2 {
  inset: auto auto 220px 30px;
  transition: inset 0.3s ease-out;
  /* background-color: black; */

}

.card-2 video {
  object-fit: contain;
  height: 100vh;
}

.card-2:hover p,
.card-2:hover a {
  opacity: 1;
  transition: opacity 0.5s 0.1s ease-in;
  color: white;
}

.card-2:hover img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
  filter: blur(3px);
}

.material-symbols-outlined {
  vertical-align: middle;
}


.posted-fetch {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  width: 100%;
  min-height: 500px;
  background: rgba(19, 19, 19, 0.6);
  backdrop-filter: blur(2px);
  inset: 0;
  z-index: 2;
  border-radius: 20px;
}

.fetched-image {
  width: 100%;
}

.fetched-image img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  padding-left: 20px;

}

.fetched-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  padding-right: 20px;
  justify-content: center;
}

.input-email{
  color: black;
}

.posted-fetch:hover {
  transform: translateY(-5px);
  transition: 0.25s ease;
}




.app__videos {
  position: relative;
  height: 750px;
  /* background-color: black; */
  overflow: scroll;
  width: 100%;
  max-width: 400px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;

}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.video {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  scroll-snap-align: start;

}

.video__player {
  object-fit: cover;
  width: 100%;
  min-height: 700px;
  /* border: 2px solid red; */
}



/* video header */

.videoHeader {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  color: white;
}

.videoHeader * {
  padding: 20px;
}

/* video footer */

.videoFooter {
  position: relative;
  bottom: 100px;
  border: 2px solid black;
  border-radius: 20px;
  /* margin-left: 20px; */
  background-color: rgba(0, 0, 0, 0.3);
}

.videoFooter__text {
  position: absolute;
  bottom: 0;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 45px;

}

.user__avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.videoFooter__text h3 {
  margin-left: 10px;

}

.videoFooter__text h3 button {
  color: white;
  font-weight: 900;
  text-transform: inherit;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 5px;
}

.videoFooter__ticker {
  width: 60%;
  margin-left: 30px;
  margin-bottom: 20px;
  height: fit-content;
}

.videoFooter__ticker marquee {
  font-size: 12px;
  padding-top: 7px;
  color: white;
}

.videoFooter__ticker .material-icons {
  position: absolute;
  left: 5px;
  color: white;
}

.videoFooter__actions {
  display: flex;
  position: absolute;
  width: 95%;
  justify-content: space-between;
  color: white;
}

.videoFooter__actionsLeft .material-icons {
  padding: 0 7px;
  font-size: 1.6em;
}

.videoFooter__actionsRight .material-icons {
  font-size: 25px;
}

.videoFooter__actionsRight {
  display: flex;
}

.videoFooter__stat {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.videoFooter__stat p {
  margin-left: 3px;
}

.soal-1 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
}

figure {
  width: 500px;
  aspect-ratio: 8 / 5;
  --bg: hsl(330 80% calc(90% - (var(--hover) * 10%)));
  --accent: hsl(280 80% 40%);
  transition: background 0.2s;
  background:
    radial-gradient(circle at top left, var(--accent), transparent 75%),
    var(--bg);
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
}

figure:after {
  content: "";
  position: absolute;
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  bottom: 0%;
  left: 10%;
  background: linear-gradient(-65deg, var(--bg) 50%, var(--accent) 50%);
  filter: blur(25px);
  transform:
    translateX(calc(var(--hover) * 15%)) scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s, background 0.2s;
}

img {
  position: absolute;
  left: 20%;
  top: 15%;
  width: 40%;
  transform:
    translateX(calc(var(--hover) * -15%)) scale(calc(1 + (var(--hover) * 0.2)));
  transition: transform 0.2s;
}

article {
  --hover: 0;
}

article:hover {
  --hover: 1;
}

.input {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 70%;
}


.upload-image{
  width: 100%;
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.article-1{
  height: 500px;
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px;
}
.arti{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.save-it{
  display: flex;
  border: 2px solid white;
  margin-top: 10px;
  border-radius: 10px;
  padding:10px;
}
.save-it:hover{
  color: black;
  background-color: white;
  transition: 1s ease-in;
}
